# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

node_modules
dist/
.solid

# pre-commit
.pre-commit-config.yaml
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# System Files
.DS_Store
Thumbs.db
